:root {
  --black: #1b262c;
  --blue: #0f4c75;
  --light-blue: #3282b8;
  --white: #bbe1fa;
  --permanent-white: #bbe1fa;
  --permanent-black: #1b262c;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.5rem;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: var(--black);
  color: var(--white);
}
body.active {
  --black: #bbe1fa;
  --blue: #3282b8;
  --light-blue: #0f4c75;
  --white: #1b262c;
}
select {
  border: none;
  border-radius: 0.25em;
  color: var(--permanent-black);
  line-height: 1.1;
  background-color: var(--permanent-white);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  overflow-y: auto;
}
select option {
  overflow-y: scroll;
}
input {
  background-color: var(--permanent-white);
  color: var(--permanent-black);
}
input:focus {
  outline: none;
  filter: drop-shadow(0px 0px 10px var(--permanent-black));
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  margin: 2vh auto;
}
.container-row {
  flex-direction: row;
  width: 64%;
  justify-content: space-between;
}
header {
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  height: 10vh;
}
.logo img {
  height: 10vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
  background-color: var(--black);
  height: 5vh;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.8em;
}
.nav-links ul li:not(:first-child):after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--white);
  display: block;
  margin: auto;
  transition: 0.4s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.nav-links ul a:hover {
  color: var(--white);
}
.nav-links ul a:active {
  color: var(--light-blue);
}
.fa-moon {
  font-size: 1em;
  cursor: pointer;
}
.fa-sun {
  font-size: 1em;
  cursor: pointer;
}
.hamburger {
  display: none;
}
footer {
  width: 100%;
  background-color: var(--blue);
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: var(--permanent-white);
}
footer img {
  border-radius: 100%;
  width: 5%;
}
footer h3 {
  font-size: 1.5vw;
  margin-top: 50px;
  color: var(--permanent-white);
}
footer h4 {
  font-size: 1vw;
  margin-top: 10px;
  font-weight: 400;
  color: var(--permanent-white);
}
.useful {
  display: flex;
  width: 80%;
  margin: 40px auto;
  justify-content: space-between;
}
.useful li {
  font-size: 1vw;
}
.useful li:hover {
  color: var(--permanent-white);
  cursor: pointer;
}
.useful li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--permanent-white);
  display: block;
  margin: auto;
  transition: 0.4s;
}
.useful li:hover::after {
  width: 100%;
}
.topg {
  margin-top: 50px;
}
@media only screen and (max-width: 1320px) {
  nav {
    padding-left: 50px;
    padding-right: 50px;
  }
  .logo {
    height: 10vh;
  }
  .logo img {
    height: 10vh;
  }
  nav ul li a {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 1100px) {
  nav {
    padding-left: 30px;
    padding-right: 30px;
  }
  .logo {
    height: 8vh;
  }
  .logo img {
    height: 8vh;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
  }
  .nav-links.active {
    height: 55vh;
    margin-top: 1vh;
  }
  .nav-links {
    height: 0;
    position: absolute;
    left: 0;
    top: 8vh;
    width: 100%;
    background-color: #3282b8;
    z-index: 999;
    text-align: center;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-links ul li {
    display: block;
    margin-top: 1.2vh;
  }
  .nav-links ul li:hover::after {
    width: 30%;
  }
  .nav-links ul li a {
    font-size: 4vw;
  }
  footer h3 {
    font-size: 50%;
  }
  .topg h4 {
    font-size: 35%;
    font-weight: 500;
  }
  footer img {
    width: 10%;
  }
  .useful li {
    font-size: 40%;
    margin-right: 5px;
  }
  .fa-moon {
    font-size: 4vw;
  }
  .fa-sun {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    height: 6vh;
  }
  .logo img {
    height: 6vh;
  }
  footer h3 {
    font-size: 30%;
  }
  .topg h4 {
    font-size: 25%;
    font-weight: 500;
  }
  footer img {
    width: 12%;
  }
  .useful li {
    font-size: 23%;
    margin-right: 5px;
  }
  .hamburger .line.active {
    background: black;
  }
  .nav-links.active {
    height: 55vh;
    margin-top: -1vh;
  }
  .fa-moon {
    font-size: 4.5vw;
  }
  .fa-sun {
    font-size: 4.5vw;
  }
}
@media only screen and (max-width: 489px) {
  .nav-links {
    top: 7.8vh;
  }
  .nav-links ul li {
    font-size: 7vw;
  }
  .nav-links.active {
    height: 45vh;
    margin-top: -1vh;
  }
  .useful {
    flex-direction: column;
    font-size: 15vw;
    margin: 30px auto;
  }
  .useful li {
    margin-top: 5vw;
  }

  .fa-moon {
    font-size: 5.5vw;
  }
  .fa-sun {
    font-size: 5.5vw;
  }
}
