header {
  min-height: 100vh;
}
.horizontal-line {
  margin: 3% auto;
  height: 0.2vh;
  width: 60%;
  border-radius: 30px;
  background-color: var(--white);
}
.main-header {
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
}
.main-black {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.65;
}
.main-heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  justify-content: center;
}
.main-heading h1 {
  font-size: 6vw;
}
.main-heading p {
  margin-top: 5%;
  font-size: 2vw;
}
.search-bar form {
  margin-top: 30px;
  display: flex;
  width: 30%;
  justify-content: center;
}
.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  text-indent: 1vw;
  border-radius: 10px 0px 0px 10px;
}
.search-bar button {
  background: var(--light-blue);
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  padding: 10px 50px;
  letter-spacing: 1px;
  border-radius: 0px 10px 10px 0px;
}
.search-bar .fa-search {
  align-self: center;
}
.search-bar {
  display: flex;
  justify-content: center;
}
.services-section {
  margin: 0 auto;
  display: flex;
  width: 80%;
  height: 25vh;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  color: var(--white);
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15%;
  height: 80%;
}
.service-img {
  height: 60%;
}
.service p {
  height: 40%;
  margin-top: 10%;
  font-size: 1.5vw;
}
.video-section {
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video-section p {
  margin-top: 2%;
  color: var(--white);
  font-size: 2vw;
}
.parts-video {
  width: 60%;
}
.parts-video video {
  width: 100%;
}
.social-media {
  text-align: center;
}
.socials {
  display: flex;
  width: 40%;
  margin: 50px auto;
  justify-content: space-between;
}
.socials a {
  text-decoration: none;
  color: var(--white);
}
.socials a:hover {
  color: var(--light-blue);
}
@media only screen and (max-width:1100px) {

  .service-img{
    height:35%;
  }
  .service p{
    font-size: 2vw;

  }
  .video-section p{
    font-size: 3vw;
   }
   .video-section{
    height:50%;
   }
}
@media only screen and (max-width:750px) {

  .service-img{
    height:25%;
  }
  .service p{
    font-size: 2.5vw;

  }
  .main-heading h1 {
    font-size: 12vw;
  }
  .main-heading p {
    margin-top: 5%;
    font-size: 4vw;
  }
  .video-section{
    height:60%;
  }
  .parts-video {
    width: 80%;
  }
  .video-section p{
   font-size: 3.5vw;
  }
  .social-media p {
    font-size:5vw;
  }
  .socials{
    height:0.8vh;
  }
  .socials i{
    font-size:3vh;
  }
}