main {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.content h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  height: 70px;
  color:var(--permanent-white);    
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.content {
  width: 20%;
  margin: 30px 15px;
  height: 394px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: var(--light-blue);
  transition: 0.4s;
}
.content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -6px);
}
.content img {
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.content p {
  text-align: center;
  margin: 10px 0px;
  font-size: 1vw;
  max-height: 2vw;
  color:var(--permanent-white);
}
.content h6 {
  font-size: 30px;
  color: var(--black);
  text-align: center;
  font-weight: 900;
  margin-top: 30px;
}
.fa {
  font-size: 1.5vw;
  margin: 10px 0px;
  color:var(--permanent-white);
}
.fa:hover {
  transform: scale(1.3);
  transition: 0.6s;
}
.content button {
  text-align: center;
  font-size: 25px;
  color: var(--white);
  width: 100%;
  border: 0;
  cursor: pointer;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--blue);
}
.cont-image {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  background-color: white;
}
.filters {
  display: flex;
  background: linear-gradient(to right, var(--light-blue), var(--blue));
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15%;
  height: 50vh;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 80px 0px;
}
.box select {
  width: 100%;
  border: none;
  border-radius: 0.25em;
  color: var(--black);
  font-size: 1.2vw;
  line-height: 1.1;
  background-color: var(--white);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  margin: 1.5vh auto;
}
.filters input {
  background: var(--white);
  font-weight: 400;
  font-size: 1.2vw;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--black);
  letter-spacing: 1px;
  border-radius: 5px;
  margin-top: 5vh;
}
.filters input:hover {
  filter: drop-shadow(0px 0px 5px var(--black));
}
@media (max-width: 1023px) {
  .content {
    width: 45%;
  }
  .content p {
    font-size:2.5vw;
  }
  .fa{
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .content {
    width: 100%;
  }
  .gallery {
    width: 100%;
  }
  .content h6 {
    margin-top: 40px;
  }
  .content p {
    font-size:4vw;
  }
  .fa {
    font-size: 6vw;
  }
  main {
    flex-direction: column;
  }
  .filters {
    width: 90%;
    margin: 0 auto;
    max-height: 90vw;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  form select {
    margin-top: 3vh;
    width: 100%;
  }
  .filters input {
    margin-top: 3vh;
    margin-bottom: 2vh;
    height:4vh;
   font-size:4vw;
  }
  .box select {
    font-size: 4vw;
  }
}
